body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
}
/* *{
    padding:0 70px;
} */

.header,.right-links,.part1{
    display: flex;
    justify-content: space-between;
    background-color:#1F2937;
    padding: 0 70px ;
    padding-top: 8px;
    padding-bottom: 40px;
}
.right-links{
    gap: 16px;
}
.header{
    flex: 1;
}
.header-logo{
    font-size: 24px;
    color: #F0FAF8;
}
.text{
    font-size: 18px;
    color: #E5E7EB;
}



/* NOW PART1 */
.part1{
padding: 0 70px;
padding-bottom: 70px;
}

img{
    width: 400px;
    height: 150px;
}
.hero-main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight:bold;
}
button{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 3px 16px;
    margin: 8px 0;
    color: white;
    font-weight: bold;
}

/* NOW PART 2 */
.part2{
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;

}
.info-text{
    font-size: 36px;
    color: #1F2937;
    font-weight:bold;
    text-align: center;
    padding: 24px;
}
.box{
    width: 200px;
    height: 200px;
    border: solid #3882F6;
    border-radius: 25px;
}
.lower{
    display: flex;
    gap: 25px;
    justify-content: center;
}
.part2 .text{
    text-align: center;
    padding-top: 8px;
}

.icon{
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* NOW PART 3 */

.part3{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 70px 400px;
}
.quote{
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}
.name{
    font-size: 24px;
    font-weight: bold;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;

}

/* PART4 */