body{
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 0;
}
/* *{
    padding:0 70px;
} */

.header,.right-links,.part1{
    display: flex;
    justify-content: space-between;
    background-color:#1F2937;
    padding: 0 70px ;
    padding-top: 8px;
    padding-bottom: 40px;
}
.right-links{
    gap: 16px;
}
.header{
    flex: 1;
}
.header-logo{
    font-size: 24px;
    color: #F0FAF8;
}
.text{
    font-size: 18px;
    color: #E5E7EB;
}
/* NOW PART1 */
.part1{
padding: 0 70px;
}

img{
    width: 400px;
    height: 150px;
}
.hero-main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight:bold;
}
button{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 3px 16px;
}

